<main class="container my-3">
  <h1 class="text-center">Servicios</h1>

  {{#if error}}
    <div class="alert alert-danger text-center">{{error}}</div>
  {{/if}}

  <div class="row justify-content-center">
    {{#each productos}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
        <div class="card w-100">
          <div class="card-header text-center">
            <h5 class="mb-0" id="nombreProd">{{nombre}}</h5>
          </div>
          <div class="card-body text-center">
            <p class="card-text">{{descripcion}}</p>
            <p hidden id="precio" class="card-text">Precio: ${{precio}}</p>
            <button
              class="btn btn-primary btn-agregar"
              data-nombre="{{nombre}}"
              data-precio="{{precio}}"
            >
              Agregar Servicio
            </button>
          </div>
        </div>
      </div>
    {{/each}}

    {{#unless productos.length}}
      <p class="text-center text-muted">No hay productos disponibles</p>
    {{/unless}}
  </div>
</main>



 <script>
  document.addEventListener("DOMContentLoaded", () => {
    const botones = document.querySelectorAll(".btn-agregar");

    botones.forEach(btn => {
      btn.addEventListener("click", () => {
        const producto = {
          nombre: btn.dataset.nombre,
          precio: btn.dataset.precio
        };

        const carrito = JSON.parse(localStorage.getItem("carrito")) || [];
        carrito.push(producto);
        localStorage.setItem("carrito", JSON.stringify(carrito));
        alert(`Servicio ${producto.nombre} agregado al carrito`);
      });
    });
  });
</script>


